<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/equipo.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #E6F6F4 !important;">
            <div class="logo">
                <img src="../assets/img/download.png" value="logo">
                <div class="titulo">
                    <h3>PODOLOGIA DE BARCELONA</h3>
                    <h5>Cirugía, Unidad Láser y Plantillas a Medida</h5>
                </div>
            </div>
            <div class="container-fluid" style="margin-left: 50px !important;">
              <a class="navbar-brand" href="principal.html">Inicio</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Secciones
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="servicios.html">Servicios</a></li>
                      <li><a class="dropdown-item" href="equipo.html">Equipo Médico</a></li>
                      <li><a class="dropdown-item" href="visita.html">Visita Virtual</a></li>
                      <li><a class="dropdown-item" href="cita.html">Cita Médica</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="blog.html">Blog</a></li>
                      <li><a class="dropdown-item" href="tienda.html">Tienda</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Idiomas
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Español</a></li>
                      <li><a class="dropdown-item" href="#">Catalán</a></li>
                      <li><a class="dropdown-item" href="#">Inglés</a></li>
                    </ul>
                  </li>
                </ul>
                <form class="d-flex" role="search">
                    <div class="carrito">
                        <img src="../assets/img/icons8-carrito-de-compras-30.png" value="tienda">
                    </div>
                  <button class="btn btn-outline-success" type="submit" style="margin-right:10px !important">Conectarse</button>
                  <button class="btn btn-outline-success" type="submit">Registrarse</button>
                </form>
              </div>
            </div>
          </nav>
    </header>

    <main>
        <div class="clinica">
          <img src="../assets/img/dd.jpg"  value="portada">
        </div>
        <h2>EQUIPO MÉDICO</h2>
        <div class="doctor">
          <div class="dr">
            <img src="../assets/img/dra.jpg" value="portada">
            <P>
              Dra.eeeeeee eeeee
              <h5>DIRECCIÓN</h5>
              NºColegiado:3244 COPC
              Diplomado en Podología por la UB
              Máster en Cirugía Podológica por la UB
              Postgrado en Cirugía Mínimamente Invasiva por la UAB
              Máster en Cirugía del Pie por la Universidad de Sevilla
            </P>
          </div>
          <div class="dra">
            <img src="../assets/img/dr.jpg" value="portada">
            <p>
              Dr.eeeeeee eeeee
              <h5>DIRECCIÓN</h5>
              NºColegiado:3244 COPC
              Diplomado en Podología por la UB
              Máster en Cirugía Podológica por la UB
              Postgrado en Cirugía Mínimamente Invasiva por la UAB
              Máster en Cirugía del Pie por la Universidad de Sevilla
            </p>
          </div>
          <div class="mutuas">
            <h3>mutuas</h3>
            <img src="../assets/img/aut-catsalut.jpg" value="portada">
            <img src="../assets/img/aut-creu.jpg" value="portada">
            <img src="../assets/img/aut-proyecto-salvavidas.jpg" value="portada">
          </div>
        </div>
    </main>

    <footer>
        <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #E6F6F4 !important;">
            <div class="logo">
                <img src="../assets/img/download.png" value="logo">
                <div class="titulo">
                    <h5>Copyright: 2023 Clínica Podológica</h5>
                    <h5>DyNInfo Legal | Privacidad Redes | Cookies</h5>
                    <h5>Creación y Mantenimiento: xxxxxxxxx.es</h5>
                </div>
            </div>
            <div class="datos">
                <h6>Dirección: xxxxxxxxxx</h6>
                <h6>Teléfono: xxxxxxxxx</h6>
                <h6>Móvil: xxxxxxxxx</h6>
            </div>
            <div class="botones">
                <div>
                    <button class="boton-redondo" ></button>
                </div>
                <div>
                    <button class="boton-redondo2" ></button>
                </div>
                <div>
                    <button class="boton-redondo3" ></button>
                </div>
            </div>
          </nav>
    </footer>

    <script src="script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>